<a href="https://colab.research.google.com/github/renuka2101476/Agriventure-Agrotourism/blob/main/final_food_delivery_dataset(Test).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
orders = pd.read_csv("orders.csv")
print(orders.head())

   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

In [32]:
df.tail()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating,rating_range,combo,quarter
9995,9996,2528,249,2023-05-21,1211.96,Royal Kitchen North Indian,User_2528,Hyderabad,Gold,Restaurant_249,Italian,4.7,4.6 – 5.0,Gold + Italian,2023Q2
9996,9997,2867,267,2023-08-06,1188.05,Darbar Cafe Punjabi,User_2867,Bangalore,Regular,Restaurant_267,Chinese,4.2,4.1 – 4.5,Regular + Chinese,2023Q3
9997,9998,522,420,2023-11-11,979.44,Ruchi Tiffins Chinese,User_522,Bangalore,Gold,Restaurant_420,Italian,4.0,3.6 – 4.0,Gold + Italian,2023Q4
9998,9999,319,492,2023-09-08,1105.93,Swagath Kitchen North Indian,User_319,Bangalore,Gold,Restaurant_492,Italian,4.0,3.6 – 4.0,Gold + Italian,2023Q3
9999,10000,457,439,2023-10-21,879.58,Classic Cafe Family Restaurant,User_457,Chennai,Regular,Restaurant_439,Mexican,3.1,3.0 – 3.5,Regular + Mexican,2023Q4

In [33]:
df.isnull().sum()

order_id             0
user_id              0
restaurant_id        0
order_date           0
total_amount         0
restaurant_name_x    0
name                 0
city                 0
membership           0
restaurant_name_y    0
cuisine              0
rating               0
rating_range         0
combo                0
quarter              0
dtype: int64

In [36]:
df.duplicated().sum()

np.int64(0)

In [2]:
users = pd.read_json("users.json")
print(users.head())

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [3]:
restaurants = pd.read_csv("restaurants.csv")
print(restaurants)

      restaurant_id restaurant_name  cuisine  rating
0                 1    Restaurant_1  Chinese     4.8
1                 2    Restaurant_2   Indian     4.1
2                 3    Restaurant_3  Mexican     4.3
3                 4    Restaurant_4  Chinese     4.1
4                 5    Restaurant_5  Chinese     4.8
..              ...             ...      ...     ...
495             496  Restaurant_496   Indian     3.1
496             497  Restaurant_497  Mexican     4.4
497             498  Restaurant_498  Chinese     3.9
498             499  Restaurant_499  Mexican     4.9
499             500  Restaurant_500  Chinese     3.2

[500 rows x 4 columns]

In [10]:
print(orders.columns)
print(users.columns)
print(restaurants.columns)

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name'],
      dtype='object')
Index(['user_id', 'name', 'city', 'membership'], dtype='object')
Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')

In [9]:
merged_data = orders.merge(users, on="user_id", how="left")
merged_data = merged_data.merge(restaurants, on="restaurant_id", how="left")

In [11]:
merged_data.to_csv("final_food_delivery_dataset.csv", index=False)

In [22]:
df['order_date'] = pd.to_datetime(df['order_date'])
q1 = df[df['membership']=='Gold'].groupby('city')['total_amount'].sum().idxmax()

print("Highest Gold revenue city:", q1)

Highest Gold revenue city: Chennai

/tmp/ipython-input-359848086.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['order_date'] = pd.to_datetime(df['order_date'])

In [23]:
merged_data.groupby('membership')['total_amount'].mean()

q2 = df.groupby('cuisine')['total_amount'].mean().idxmax()
print(" Highest avg order value cuisine:", q2)

 Highest avg order value cuisine: Mexican

In [24]:
user_totals = df.groupby('user_id')['total_amount'].sum()
count_users = (user_totals > 1000).sum()

if count_users < 500:
    q3 = "< 500"
elif count_users <= 1000:
    q3 = "500 – 1000"
elif count_users <= 2000:
    q3 = "1000 – 2000"
else:
    q3 = "> 2000"
print("Users spending > ₹1000:", q3)

Users spending > ₹1000: > 2000

In [28]:
values = [0,3.5,4.0,4.5,5.0]
labels = ['3.0 – 3.5','3.6 – 4.0','4.1 – 4.5','4.6 – 5.0']
df['rating_range'] = pd.cut(df['rating'], bins=values, labels=labels, include_lowest=True)
q4 = df.groupby('rating_range', observed=False)['total_amount'].sum().idxmax()
print(" Highest revenue rating range:", q4)

q5 = df[df['membership']=='Gold'].groupby('city', observed=False)['total_amount'].mean().idxmax()
print("Gold highest avg order city:", q5)

 Highest revenue rating range: 4.6 – 5.0
Gold highest avg order city: Chennai

In [30]:
q6 = df.groupby('cuisine')['restaurant_id'].nunique().idxmin()
print(" Lowest restaurant count cuisine:", q6)

q7 = round((df[df['membership']=='Gold'].shape[0] / df.shape[0]) * 100)
print("% Orders by Gold members:", str(q7) + "%")
restaurant_stats = df.groupby('restaurant_name_y').agg(
    avg_order_value=('total_amount','mean'),
    order_count=('order_id','count')
)

q8 = restaurant_stats[restaurant_stats['order_count'] < 20] \
        .sort_values('avg_order_value', ascending=False) \
        .head(1).index[0]

print(" Highest AOV (<20 orders) restaurant:", q8)

 Lowest restaurant count cuisine: Chinese
% Orders by Gold members: 50%
 Highest AOV (<20 orders) restaurant: Restaurant_294

In [31]:
df['combo'] = df['membership'] + " + " + df['cuisine']
q9 = df.groupby('combo')['total_amount'].sum().idxmax()

print("Highest revenue combination:", q9)

df['quarter'] = df['order_date'].dt.to_period('Q')
q10 = df.groupby('quarter')['total_amount'].sum().idxmax()

print("Highest revenue quarter:", q10)

Highest revenue combination: Regular + Mexican
Highest revenue quarter: 2023Q3